<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style2.css">
</head>

<body>
    <div class="container">
        <p>
        <h1>Have a question?</h1>
        <h2>Ask and we'll get back to you within 48 hours.</h2>
        </p>
        <form class="info" action="/contactus" method="post">
            <div><label for="name">FullName</label></div><br>
            <input type="text" name="username" placeholder="Enter your FullName"><br>

            <div><label for="name">Email</label></div><br>
            <input type="email" name="email" placeholder="Enter your E-mail"><br>

            <div><label for="name">Subject</label></div><br>
            <input type="text" name="subject" placeholder="Tell us your query"><br>

            <div><label for="name">Message</label></div><br>
            <input type="text" name="message" placeholder="How can we help?"><br>

            <button
                style="padding: 12px 30px; background-color:white; border-radius:5px; border: 0px; font-size:1.1em">Send</button>
        </form>



    </div>
</body>

</html>